#css_table {
  display:table;
  /* border-style: solid; */
  width: 100%;
  margin: auto;
  position: relative;
}

.css_td.title {
  height: calc(100vh / 18);
  text-align: center;
  vertical-align: bottom;
  font-size: 20px;
}

.css_tr {
  display: table-row;
}

.css_td {
  display: table-cell;
  /* height: auto; */
  height: calc(100vh / 4.5);
  width:50%;
  vertical-align: middle;
  /* border-style: solid; */
  padding: 3px;
}

.css_tr.tr_1, .css_tr.tr_3 {
  background-color: rgb(219, 219, 219);
}

.box {
  display: auto;
  margin: auto;
  /* border-style: dashed; */
  /* border: 1px solid #808080; */
  border-radius: 3%;
  width: 180px;
  height: 100px;
  text-align: center;
  background-color: #808080;
}

.box:hover, .preview:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* .preview:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */

.material-icons.image {
  font-size: 4rem;
  line-height: 100px;
}

.tabs .indicator {
  color: blue;
}

img {
  display: block;
  margin: auto;
  max-height: 80%;
  min-height: 130px;
  width: auto;
  height: auto;
}

.row.top_padding {
  height: 25vh;
}

